* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Common clasess*/

html {
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

:root {
  --main-color: #ff7b00ea;
  --second-color: #ffe0c3ea;
  --title-color: #222;
  --subtitle-color: #8d8d8d;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  height: 1000px;
  overflow-x: hidden;
  position: relative;
}

.l {
  width: 15rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.4s;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.btn i {
  font-size: 20px;
  margin-left: 10px;
}

/* Section Title */
.section_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8;
  color: #222;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.section_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: var(--main-color);
}

.section_title::after {
  content: "";
  position: absolute;
  bottom: -1.8px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;

  background-color: var(--main-color);
}
/* img fluid */
.img-fluid {
  max-width: 100%;
  height: auto;
}
.common-h5 {
  color: #3b3663;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 7px;
}

.common-h2 {
  color: #3b3663;
  font-size: 30px;
  line-height: 38px;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  font-family: "Rubik";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito";
  font-weight: 800;
}

p {
  font-family: "Rubik";
  font-weight: 400;
}

/* ========== Arrow ========== */
#arrow ion-icon {
  font-size: 15px;
  position: fixed;
  bottom: 20px;
  right: 25px;
  background-color: var(--main-color);
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  z-index: 1000;
}

/* ========== Header ========== */
header {
  /* position: relative; */
  position: fixed;
  width: 100%;
  /* padding: 3px 0; */
  z-index: 10000;
}

header.active {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

header .nav-bar {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 200px;
  white-space: nowrap;
  transition: 0.5s;
  z-index: 999;
  position: relative;
}

.menu_item {
  display: inline-block;
}

.menu_link {
  padding: 5px 10px;
  position: relative;
  transition: 0.4s;
  color: #333;
  font-weight: 3000;
}

.menu_link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scale(0);
  transition: 0.4s;
}

.menu_link:hover {
  color: var(--main-color);
}

.active-link {
  color: var(--main-color);
}

.menu_link.active-link::before,
.menu_link:hover::before {
  transform: scale(1);
}

.close_icon {
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 250px;
  z-index: 1000;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.toggle_icon {
  font-size: 32px;
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eee;
    height: 100vh;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    transform: translateX(110%);
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu_item {
    display: block;
    margin: 20px 0;
  }

  .menu_link {
    color: #333;
  }

  .toggle_icon {
    display: block;
  }

  .close_icon {
    display: block;
  }
}
/* ========== Wave ========== */

#waves {
  /* margin-top: 100px; */
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  /* background: #e0d1ee; */
  /* overflow: hidden; */
}
#waves .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
#waves .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#waves .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#waves .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
#waves .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
/*================= Header ===============*/
/* .main-page {
  background-color: #fbf9ff;
} */
.header-bg-parent {
  display: flex;
  justify-content: space-between;
}

.header-col1 {
  z-index: 1;
  width: 55%;
  /* position: relative; */
  /* left: 10%; */
}
.main_group {
  margin-top: 200px;
}
.main-buttons {
  margin-top: 50px;
}
.main-buttons a {
  margin-right: 5px;
}
.header-col2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.header-col2 img {
  margin-top: 100px;
  width: 100%;
  animation: MoveUpDown 5s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}
.header-col1 h2 {
  font-size: 48px;
  line-height: 56px;
}

.main-heading {
  color: #11cae0;
}

.header-col1 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}
@media screen and (max-width: 1100px) {
  .header-col1 h2 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1000px) {
  .header-col1 {
    width: 65%;
    z-index: 1000;
  }
  .main_group {
    margin: 0;
    margin-bottom: 150px;
  }

  .header-col1 h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .header-col2 img {
    margin-top: 150px;
    width: 100%;
  }
  .header-bg-parent {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .header-bg-parent {
    align-items: baseline;
  }
  .header-col1 {
    width: 75%;
  }
  .header-col1 h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .header-col1 p {
    font-size: 15px;
  }
  .header-col2 img {
    width: 300px;
    /* margin-top: 150px; */
  }
  .main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-buttons a {
    margin: 8px 0;
    width: 145px;
  }
}

/* ========== About ========== */
.about {
  margin-top: 20px;
}
.section_about {
  display: flex;
}
.why-choose-col {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.why-choose-col p {
  color: var(--subtitle-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px 50px 0 0;
}
.about_btn {
  margin: 30px 0;
}
.about_lists li {
  color: var(--subtitle-color);
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 0;
}

.about_lists li ion-icon {
  font-size: 20px;
  color: #11cae0;
  margin-right: 5px;
}

.counter-col {
  display: flex;
  width: 50%;
}
.stat {
  width: 30%;
}

.stat-info-par {
  width: 70%;
}
/* copy */

.highlight {
  color: #3b3663;
  padding-top: 20px;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 56px;
  overflow: hidden;
  display: block;
  position: relative;
}

.highlight:after {
  content: "+";
  color: #f47a14;
  position: absolute;
  top: 10px;
  font-size: 30px;
}

.stat-info-div p {
  color: #3b3663;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik";
  padding: 20px 0px;
}

.stat-info-sub-par {
  margin: 15px 0px 40px;
}

.stat-info-div {
  position: relative;
}

.stat-info-div:before {
  content: "s";
  border-left: 1px solid #ddd;
  position: absolute;
  height: 85px;
  font-size: 0;
  left: -14px;
}

@media screen and (max-width: 1000px) {
  .section_about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .why-choose-col,
  .counter-col {
    width: 100%;
    padding: 20px 50px;
  }
  .stat-info-sub-par {
    margin: 35px 0px 50px;
  }
  .stat-info-div p {
    padding: 12px 0px;
  }
}

@media screen and (max-width: 600px) {
  .stat-info-div:before {
    height: 75px;
  }
  .highlight {
    font-size: 30px;
    padding-top: 35px;
  }
  .stat-info-div p {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .stat-info-sub-par {
    margin: 25px 0px 0px;
  }
  .milestone-counter {
    padding-top: 6px;
  }
  .stat-info-div p {
    font-size: 14px;
    padding: 8px 0px;
  }
  .highlight,
  .highlight::after {
    font-size: 20px;
  }
  .stat-info-div p {
    font-size: 14px;
  }
  .milestone_details {
    font-size: 14px;
  }
  .highlight:after {
    top: 23px;
  }
}

/* ========== Placement ========== */

/* .placement-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.placement-content {
  width: 35%;
}
.placement-img img {
  margin-top: 20px;
}

.boxer {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.progress_bar {
  display: flex;
  width: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
  width: 25%;
}

.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: var(--main-color);
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .number h3 {
  font-weight: 200;
  font-size: 2.5rem;
}

.card .number h3 span {
  font-size: 1.5rem;
}

.card .title h2 {
  margin: 25px 0 0;
}

.card:nth-child(1) svg circle:last-of-type {
  stroke: var(--main-color);
}

.card:nth-child(2) svg circle:last-of-type {
  stroke: var(--main-color);
}

@media screen and (max-width: 1116px) {
  .card .title h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .placement-bar {
    flex-direction: column;
  }
  .placement-content {
    width: 70%;
  }
  .placement-img img {
    width: 60%;
  }
  .placement-img {
    text-align: center;
  }

  .boxer {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .placement-img img {
    width: 95%;
  }
  .progress_bar {
    flex-direction: column;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;
    width: 100%;
  }
} */

/* ========== Services ========== */

.services {
  margin: 20px 0 50px 0;
}
.services-para {
  text-align: center;
  color: var(--subtitle-color);
}

.services_container {
  width: 100%;
  /* padding: 20px 95px; */
  /* display: flex;
  flex-wrap: wrap; */
  /* column-gap: 2rem;
  justify-content: start; */
}
/* 
.services_item {
  margin-bottom: 20px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.services_item ion-icon {
  color: var(--main-color);
  font-size: 32px;
  display: block;
} */

.services_item .services_title {
  font-size: 22px;
  font-weight: 500;
  color: var(--title-color);
  margin: 20px 0;
}

/* .services_item img {
  width: 200px;
} */
.services_button a {
  margin-top: 12px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.services_button ion-icon {
  font-size: 22px;
  margin-left: 5px;
  transition: 0.3s;
}
/* .services_item:hover {
  transform: translateY(-10px);
  transition: 0.8s ease;
} */
.services_button:hover ion-icon {
  transform: translateX(10px);
}

/* .services_modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  padding: 0 30px;
}

.services_modal.active-modal {
  display: flex;
}

.services_modal > div {
  position: relative;
  background-color: #555;
  max-width: 500px;
  max-height: 450px;
  padding: 50px;
  font-size: 14px;
  color: #fff;
  border-radius: 20px;
}

.services_modal .modal_close-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  color: var(--main-color);
  font-size: 25px;
  cursor: pointer;
}

.services_modal-description,
.services_modal-title {
  text-align: center;
}

.services_modal-description {
  margin: 10px 0 30px;
}

.services_modal-title {
  font-size: 22px;
  color: #fff;
}

.services_modal ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.services_modal ul li ion-icon {
  font-size: 20px;
  margin-right: 10px;
} */

/* copied */
.card_outline {
  margin: 30px 0;
  display: flex;

  /* min-height: 100vh; */
  background: #ffffff;
  /* justify-content: center; */
  /* align-items: center; */
  /* font-family: arial; */
}

.card_container {
  /* width: 1000px; */
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card_container .cards {
  padding: 0 10px;
  position: relative;
}

.card_container .cards .face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}

.card_container .cards .face.face1 {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card_container .cards:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.card_container .cards .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
  text-align: center;
}

/* .card_container .card:hover .face.face1 .content {
  opacity: 1;
} */

/* .card_container .cards .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
} */

.card_container .cards .face.face1 .content h3 {
  font-size: 1em;
  color: black;
  text-align: center;
}

.card_container .cards .face.face1 .content a {
  transition: 0.5s;
}

.card_container .cards .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.card_container .cards:hover .face.face2 {
  transform: translateY(0);
}

.card_container .cards .face.face2 .content p,
a {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #333;
}
img.card-img {
  width: 50%;
}

/* .card_container .cards .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
} */

/* .card_container .cards .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
} */

@media screen and (max-width: 1290px) {
  .services_container {
    padding: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .services_container {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .services_container {
    padding-left: 20px;
    justify-content: center;
  }

  .services_item {
    padding-top: 30px;
  }

  .services_item h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 396px) {
  .services_modal > div {
    padding: 40px 20px;
  }
}

/*faq*/
/*
.accordion-container {
  width: 100%;
  margin: 20px auto;
}

       Style the accordion items
.accordion-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

      Style the accordion header (button)
.accordion-header {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

      Style the accordion content (hidden by default) 
 .accordion-content {
  display: none;
  padding: 10px;
}

#faq-par {
  margin-top: 60px;
}
#faq-par .container {
  display: flex;
}

.faq-que-col {
  width: 47%;
}

.faq-bg-col {
  width: 50%;
}

.faq-img-par {
  margin-left: 90px;
}

@media screen and (max-width: 1000px) {
  #faq-par .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .faq-que-col {
    width: 70%;
  }
  .faq-img-par {
    margin: 0 0 35px 0;
  }
} */
/* ========== Products section ========== */

.products_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 70px;
}

.products_filters li {
  font-size: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

.products_filters li:hover,
.filter-active {
  /* background-color: #8aedf8; */
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
}

.products_wrap-container {
  overflow: hidden;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.products_item {
  overflow: hidden;
  border-radius: 10px;
}

.products_wrap {
  position: relative;
  z-index: 1;
}

.products_wrap img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.products_wrap:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

@media screen and (max-width: 992px) {
  .products_wrap-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .products_wrap-container {
    grid-template-columns: 1fr;
  }

  .products_filters li {
    font-size: 16px;
  }
}

/* ============ Contact ============ */
.contact {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 60px;
}
.company_card {
  padding: 10px 45px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content1 {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.company_icon {
  padding-top: 4px;
  text-align: center;
  background-color: var(--second-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.company_icon ion-icon {
  color: var(--main-color);
  font-size: 30px;
}

.company_content {
  margin-left: 20px;
}
.contact_container {
  display: flex;
  justify-content: center;
}

.content1:hover ion-icon {
  color: #fff;
}
.contact_content {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

input {
  margin-bottom: 30px;
  width: 100%;
}

input,
textarea {
  border-radius: 10px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #eee;
  color: var(--title-color);
  font-size: 16px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #a8bbe0;
}

.contact_container .btn {
  width: 185px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media screen and (max-width: 800px) {
  .contact_container {
    flex-direction: column;
  }
  .contact_content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .contact_content {
    padding: 45px 0;
  }
  .inputs {
    flex-direction: column;
  }
}

/* ============Footer============== */

.footer_bg {
  background-color: var(--main-color);
  padding-top: 30px;
}

.footer_contact,
.footer_social {
  line-height: 35px;
}

.main_footer {
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-left-div,
.footer-right-div {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.footer_links,
.footer_social {
  display: flex;
  flex-direction: column;
}

.footer_links a {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 10px 5px;
  align-items: center;
}

.footer_social a {
  background-color: #fff;
  color: var(--title-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 5px 10px 0 0px;
}

.footer_social a:hover {
  background-color: var(--second-color);
}

.footer_copy {
  text-align: center;
  padding: 20px 0;
  color: #dbdbdb;
}

@media screen and (max-width: 1000px) {
  .main_footer {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .main_footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-left-div,
  .footer-right-div {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .footer_social a {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}

/* TESTIMONIAL */

.testimonial {
  margin-top: 20px;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 320px;
}
.swiper-slide h2 {
  color: var(--main-color);
  font-weight: 100;
}

.swiper-slide h4 {
  color: var(--subtitle-color);
}
/* .swiper-slide img {
  display: block;
  width: 100%;
} */

.swiper-slide.swiper-slide-visible.swiper-slide-active {
  border-radius: 5px;
  border: 2px solid whitesmoke;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 1.1);
}
.testimonial-content {
  display: flex;
  padding: 15px 5px;
  flex-direction: column;
}
.testimonial-para {
  font-size: 16px;
}
hr {
  width: 25%;
  margin: 2px 0px;
  height: 3px;
  background-color: var(--main-color);
}
@media screen and (max-width: 800px) {
  .testimonial-content h2,
  h4 {
    font-size: 16px !important;
  }
}
/* ================Clients marquee section ====================*/
.clients {
  margin: 20px 0 80px 0;
}

.marquee {
  padding: 20px 0;
  margin: 0 15px;
  overflow: hidden;
}

.marquee-content {
  justify-content: center;
  align-items: center;
  display: flex;
  animation: scrolling 15s linear infinite;
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
}

.marquee-item img {
  display: block;
  width: 100%;
  /*   padding: 0 20px; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}

@media screen and (max-width: 800px) {
  .marquee-item {
    flex: 0 0 20vw;
    margin: 0 2vw;
  }
  .marquee-item img {
    width: 200px;
  }
}

/* Teams */
/* .teams {
  margin-top: 20px;
}
.big-box {
  display: flex;
  justify-content: space-between;
}

.outside-box {
  width: 22%;
  position: relative;
  margin-bottom: 10px;
}

.inner-box {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  display: block;
  padding: 10px;
  height: 160px;
}

.inner-box:hover .side-layer-one {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #f5f5f5;
  transform: translateX(320px) translateY(-320px);

  transition: all 2s ease;
}
.inner-box:hover .side-layer-two {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 370px;
  height: 370px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #f5f5f5;
  transform: translateX(400px) translateY(-400px);
  transition: all 2s ease;
}

.team-member h3 {
  color: var(--main-color);
}
.team-member p {
  color: var(--subtitle-color);
}

@media screen and (max-width: 800px) {
  .team-member h3,
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .big-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .outside-box {
    width: 80%;
  }
  .team-member h3,
  p {
    font-size: 18px;
  }
} */

/* =============Certificate ========== */
/* .certificate {
  margin-top: 20px;
}
.certificate-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate-content p {
  color: var(--subtitle-color);
}

.certificate img {
  width: 500px;
  margin-top: 20px;
  margin-left: 20px;
} */

/* NEDD OUR SERVICES */
.support {
  margin-top: 80px;
  height: 80vh;
  position: relative;
}
.background-img {
  position: relative;
  /* z-index: 1; */
  background: no-repeat cover cover fixed;
  height: 80%;
  opacity: 0.8;
  background-image: url("https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
/* .background-img .background-content {
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(90deg, #272b36 30%, #f2295b00 100%);
  opacity: 0.91;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */

.support-content {
  width: 100%;
  /* margin-left: 150px;
  margin-top: 180px; */
  position: absolute;
  top: 0;
  left: 0;
}

.support-heading {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.support-heading span {
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .support-content {
    margin-left: 100px;
    margin-top: 150px;
  }
  .support-heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .support-content {
    margin: 90px 0 5px 5px;
    /* margin-top: 150px; */
  }
  .support-heading {
    font-size: 30px;
  }
}

/*  */

.section-sap img {
  width: 100%;
  padding-top: 110px;
  opacity: 0.8;
}

.sap-content {
  /* margin-top: 100px; */
  display: flex;
  /* flex-direction: column; */
  min-height: 30vh;
  /* flex-direction: column-reverse; */
}

.sap-content-div1,
.sap-content-div2 {
  display: flex;
  align-items: center;
  width: 50%;
}
.sap-content-div1 h1 {
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 7px;
}
.sap-content-div2 p {
  font-size: 18px;
  /* font-weight: 400; */
  /* line-height: 44px; */
  /* margin-bottom: 7px; */
}
@media (max-width: 960px) {
  .sap-content-div1,
  .sap-content-div2 {
    width: 100%;
  }
  .sap-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* sap card */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  /* --width-container: 1200px; */
}
.hero-section {
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  /* min-height: 100%; */
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.sap_card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  /* max-width: var(--width-container); */
  width: 100%;
}

.sap_card {
  list-style: none;
  position: relative;
}

.sap_card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.sap_card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.sap_card:hover .sap_card__background {
  transform: scale(1.05) translateZ(0);
}

.sap_card-grid:hover > .sap_card:not(:hover) .sap_card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.sap_card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.sap_card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.sap_card__heading {
  color: var(--text-lighter);
  font-size: 1.5rem;
  /* text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2); */
  line-height: 1.4rem;
  /* word-spacing: 100vw; */
}

.sap_card__content ion-icon {
  font-size: 50px;
  color: #fff;
}

.sap_card__content ul {
  font-size: 18px;
  color: #fff;
  list-style: circle;
  line-height: 30px;
}
@media (max-width: 960px) {
  .sap_card-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
  .sap_card__heading {
    font-size: 1rem;
  }
  .sap_card__content ion-icon {
    font-size: 30px;
    /* color: #fff; */
  }
  .sap_card__content ul {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 540px) {
  .sap_card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .sap_card__heading {
    font-size: 1.5rem;
  }
  .sap_card__content ion-icon {
    font-size: 40px;
    /* color: #fff; */
  }
  .sap_card__content ul {
    font-size: 16px;
    line-height: 30px;
  }
}
